* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

a {
  color: white;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 0.5em;
  border: 1px solid #ccc;
}
